<h1>My Travels Diary</h1>
<div>
<h1>My favourite websites</h1>
  <% for url, name in @webside %>
    <li><a target="_blank" href="<%= url %>"><%= name %></a></li>
  <% end %>
</div>
<button>
  <%= link_to("Go to entries", entries_path) %>
</button>
<img src="https://images.unsplash.com/photo-1476114817938-a20b64783c7d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fd7c4570f2fb357573e3fed72788998b&auto=format&fit=crop&w=1047&q=80'" alt="Mountains">
